<html xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
      t:type="Layout" t:title="title">
<div class="second-content well">
<form t:type="Form" class="form-horizontal" t:id="registrationForm">

    <t:errors/>

    <div class="form-group row">
        <t:label for="username" class="col-xs-4 offset-md-3 col-md-2">${message:username}</t:label>
        <div class="col-xs-8 col-md-3">
            <input t:id="username" t:type="TextField"
                   t:validate="required" maxlength="30" />
        </div>
    </div>

    <div class="form-group row" >
        <t:label for="password" class="col-xs-4 offset-md-3 col-md-2">${message:password}</t:label>
        <div class="col-xs-8 col-md-3">
            <input t:id="password" t:type="PasswordField"
                   t:validate="required" maxlength="8"/>
        </div>
    </div>

    <div class="form-group row">
        <t:label for="retypePassword" class="col-xs-4 offset-md-3 col-md-2">${message:retype-password}</t:label>
        <div class="col-xs-8 col-md-3">
            <input t:id="retypePassword" t:type="PasswordField"
                   t:validate="required" maxlength="8"/>
        </div>
    </div>

    <div class="form-group row">
        <t:label for="name" class="col-xs-4 offset-md-3 col-md-2">${message:name}</t:label>
        <div class="col-xs-8 col-md-3">
            <input t:id="name" t:type="TextField"
                   t:validate="required" maxlength="30" />
        </div>
    </div>

    <div class="form-group row">
        <t:label for="age" class="col-xs-4 offset-md-3 col-md-2">${message:age}</t:label>
        <div class="col-xs-8 col-md-3">
            <input t:id="age" t:type="TextField"
                   t:validate="required, min=0" maxlength="150" />
        </div>
    </div>

    <div class="form-group row">
        <t:label for="height" class="col-xs-4 offset-md-3 col-md-2">${message:height}</t:label>
        <div class="col-xs-8 col-md-3">
            <input t:id="height" t:type="TextField"
                   t:validate="required, min=0" maxlength="250" />
        </div>
    </div>

    <div class="form-group row">
        <t:label for="weight" class="col-xs-4 offset-md-3 col-md-2">${message:weight}</t:label>
        <div class="col-xs-8 col-md-3">
            <input t:id="weight" t:type="TextField"
                   t:validate="required, min=0" maxlength="150" />
        </div>
    </div>

    <div class="form-group row">
        <t:label for="gender" class="col-xs-4 offset-md-3 col-md-2">${message:gender}</t:label>
        <div class="col-xs-8 col-md-3">
            <t:select t:id="gender" model="genders" validate="required">${message:gender}</t:select>
        </div>
    </div>

    <div class="form-group row">
        <t:label for="lifeStyle" class="col-xs-4 offset-md-3 col-md-2">${message:lifeStyle}</t:label>
        <div class="col-xs-8
         col-md-3">
            <t:select t:id="lifeStyle" model="lifeStyles" validate="required"/>
        </div>
    </div>

    <div class="form-group">
        <div class="text-center">
            <button type="submit" class="btn btn-primary">${message:submit}</button>
        </div>
    </div>

</form>
</div>
</html>