.dark-div{
    background-color: bisque;
}

/***********************************************************************/
.m-carousel{
    position: relative;
    width: 100%;
    background-image:linear-gradient( #a68f81,#a68f81,#a68f81, #d9cdbf);
    padding-top: 25px;
}

.m-carousel-indicators{
    top: 93%;
}

.carousel-indicators .active {
    width: 48px;
    height: 48px;
    margin: 10px;
    background-color: #253140;
}

.carousel-indicators li {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #253140 !important;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}

.m-carousel-caption{
    top:80% !important;
    text-align: center;
    padding: 10px;
}

@media (min-width:801px) {

    .m-carousel-item img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

}

@media (max-width:800px) {
    .m-carousel-item img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
/***********************************************************************************/

.m-overview-details-col{
    position: relative;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}

/*Contenido pantalla de inicio*/
@media (min-width:801px) {
    .m-content{
        position: relative;
        width: 70%;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: white;
    }

    .m-overview{
        position: relative;
        width: 70%;
        text-align: center;
        margin: 0 auto;

    }
    .m-overview-details{
        position: relative;
        text-align: center;
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
    }

    .m-overview-details-col img{
        position: relative;
        width: 13vw;
        height: 13vw;
        border-radius: 50%;
    }

}
@media (max-width:800px) {
    .m-content{
        position: relative;
        width: 100%;
        background-color: white;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .m-overview{
        position: relative;
        width: 100%;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 10px;
    }

    .m-overview-details{
        position: relative;
        text-align: center;
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
    }

    .m-overview-details-col img{
        position: relative;
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
    }

}

.m-mobile-app h3{
    width: 60%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.m-mobile-app p{
    width: 60%;
    height: 100%;
    margin: auto;
    text-align: center;
}


.m-mobile-app img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.m-mobile-app{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #253140;
    padding-top: 10px;
    padding-bottom: 30px;
}

/**********************************************************/



















/* #253140 #5b98a6 #f2e9d8 #d9cdbf #a68f81*/


/*******************************************/
.m-search{
    position: relative;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);

}

.m-search button{
    position: relative;
    right: 40%;
}
/************************************************/

/*Contenido principal del Layout*/
.m-main-content{
    position: relative;
    width: 100%;
    background-color:#d9cdbf;
    flex: 1;
    margin-top: -20px;
}


.m-page-title{
    position: relative;
    padding: 0!important;
    margin: 0 auto;
}


@media (max-width: 480px) {
    .second-content{
        position: relative;
        width: 100%!important;
    }

    .m-page-title{
        width: 100% !important;
    }
}

@media (max-width:1024px), (min-width: 481px) {
    .second-content{
        position: relative;
        width: 95%!important;
        margin: 0 auto;
    }
    .m-page-title{
        width: 95% !important;
    }
}

@media (min-width:1025px) {
    .second-content{
        position: relative;
        width: 80% !important;
        margin: 0 auto;
    }
    .m-page-title{
        width: 80% !important;
    }
}




.m-body{
    background-color:#a68f81;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

.well{
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: white !important;
    text-align: center;
    width: 100%;
}

/************************************************************************/

th{
    background-color: #3c6e71;
    color: white;
    text-align: center !important;
}

tr{
    background-color: #c2f0f0;
}

td{
    text-align: center;
}
.table-striped a{
    color:#3c6e71;
    border:1px solid #3c6e71;
    padding: 3px 3px 3px 3px;
}

/*********************************************************************************/


.left-side{
    height: 98%;
    /*margin: 1%;*/
}

.right-side{
    height: 96.9%;
    /*margin: 1%;*/
}

/*Toda la barra superior de navegación*/
/************************************************************************************************************************/
.m-navbar{
    background-color:  #3c6e71 !important;
    width: 100%;

}
.m-navbar a{
    color: white !important;
}

.m-navbar-dropdown{
    background-color:#3c6e71 !important ;
}


@media (min-width:801px){
    .m-navbar{
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width:800px) {

}

.custom-toggler.navbar-toggler {
    border-color: white;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/***********************************************************************************************************/


/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}
/* bootstrap hack end */


.row-no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.m-well{
    min-height: 50vh !important;
}
