<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
      xmlns:p="tapestry:parameter">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    <link href = "${asset:context:css/MisEstilos.css}" rel = "stylesheet" type = "text/css"/>

    <meta charset="utf-8" />
    <title>${message:title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body class="m-body">

<!--
<div class="container" style="padding: 0; margin: 0">
-->
    <nav class="navbar navbar-expand-md navbar-dark bg-light m-navbar">
            <a class="navbar-brand" href="#" t:type="PageLink" t:page="index">${message:title}</a>

            <button class="navbar-toggler  ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNavDropdown" class="collapse navbar-collapse ç">

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <t:if test="userSession">
                        <li class="nav-item">
                            <a class="nav-link" href="#" t:type="PageLink" t:page="management">${message:stats}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" t:type="PageLink" t:page="share">${message:share}</a>
                        </li>
                    </t:if>
                </ul>

                <ul class="navbar-nav navbar-right">
                    <t:if test="userSession">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">${userSession.getName()}</a>
                            <ul class="dropdown-menu m-navbar-dropdown">
                                <li><a class="dropdown-item" href="#" t:type="PageLink" t:page="user/usersettings">${message:updateProfile}</a></li>
                                <li><a class="dropdown-item" href="#" t:type="PageLink" t:page="user/changepassword">${message:changePassword}</a></li>
                                <li class="divider"></li>
                                <li><a class="dropdown-item" href="#" t:type="ActionLink" t:id="logout">${message:logout}</a></li>
                            </ul>
                        </li>
                        <p:else>
                            <li class="nav-item"><a class="nav-link" href="#" t:type="PageLink" t:page="user/login">${message:authenticate}</a></li>
                        </p:else>
                    </t:if>
                </ul>
            </div>
    </nav>
<!--</div>-->

<div class="m-main-content" >
        <t:if test="showTitleInBody" >
            <div class="m-page-title well">
                <h3 class="text-center">${title}</h3>
                <br/>
            </div>
        </t:if>

        <t:body/>


        <footer>
            <hr/>
            <p class="text-center">${message:footer}</p>
            <br/>
        </footer>
</div>
</body>

</html>